{
  "extends": "standard",
  "env": {
    "es6": true,
    "node": true
  },
  "rules": {
    "quotes": ["error", "double"],
    "semi": [2, "never"],
    "react/prop-types": "off",
    "space-before-function-paren": "off",
    "comma-dangle": ["error", "always-multiline"]
  }
}
